.VideoLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackName {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.track {
    width: 500px;
    height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.layer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}